<div class="container-fluid">
    <div class="row">
        <div class="col-12 testborder mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-title">Popular Industries</h4>
                </div>
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 testborder  mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-title">Popular Jobs</h4>
                </div>
                <div class="card-body">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 testborder  mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-title">User Acquisition</h4>
                </div>
                <div class="card-body">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <agm-map [latitude]="lat" [longitude]="lng" (click)="clickLoc($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>


</div>